// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.header-text{
  color: #fff !important;
}
body{
  background-color: black;
}
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.navbar-brand{
  height: 100%;
  color: white;
  margin-left: 20px;
}
.navbar-brand img{
  width: 50px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  color: white !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.navbar-toggler{
  color: white !important;
  outline: none !important;
  outline-width: 2px;
}
// BANNER SECTION
#home{
  height: 40vh;
}
.bg-home{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

#banner{
  color: #fff;
  padding-top: 5%;
}
.title-pata{
  font-size: 40px;
  font-weight: 600;
  margin-top: 40px;
}
.title-img{
  width: 200px;
  height: 200px;
}
#banner{
  height: auto;
  width: auto;
}
#banner a{
  color:#fff;
  text-decoration: none;
}
.game-img{
  filter: drop-shadow(3px 5px 0px white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-img{
  width: 100%;
  filter: brightness(15%)
  drop-shadow(0 -3px 0px white);
}
// ABOUT
.top-img{
  width: 100%;
  filter: brightness(15%)
  drop-shadow(0 3px 0px white);
}
#about{
  width: 100%;
  height: 100vh;
  background-color: #262626;
}
#abouts{
  padding-top: 5%;
  width: 100%;
  height: 80%;
}
.pg{
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 100%;
}
.js-pg{
  display: flex;
  padding: 10px;
  background-color: #000000;
  border: rgb(127, 4, 241) 2px solid;
  width: 100%;
  height: 100% !important;
  border-radius: 10px;
}
.form{
  border-radius: 10px;
  color: white;
  background-color: #161616;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid rgb(255, 255, 255);
}
.form h5{
  margin-top: 5%;
}
.form input{
  width: 100%;
  border-radius: 5px;
}
.button-container{
  display: flex;
  justify-content: center;
}
.form a{
  margin-top: 10%;
  width: 50%;
}
#play{
  color: #fff;
  background-color: #161616;
  margin-left: 1%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
}
// Contact
#contact{
  width: 100%;
  height: 100vh;
}
#contacts{
  margin-top: 5%;
}

// game list
#game{
  width: 100%;
  height: 100vh;
}
#games{
  margin-top: 5%;
}

// gallery
#gallery{
  width: 100%;
  height: 100vh;
}
#gallery-1{

}
























// ANIMATION
@keyframes glow{
  0%{
    box-shadow: 0 0 10px rgb(140, 0, 255);
  }
  50%{
    box-shadow: 0 0 10px rgb(255, 255, 255),
    0 0 30px rgb(255, 0, 0),
    0 0 40px rgb(140, 0, 255);
  }
  100%{
    box-shadow: 0 0 10px rgb(140, 0, 255);
  }
}
// NIMATIONA ENMD
.btn-primary{
  box-shadow: inset, 0, 0, 10px rgb(140, 0, 255);
  margin-top: 5%;
  background-color: rgb(0, 0, 0) !important;
  border-color: red !important;
  transition: 0.2s;
  animation: glow 6s ease-in infinite !important;
}
.btn-primary:hover{
  background-color: #7c00ad !important;
  border-color: #7c00ad !important;
  box-shadow: 0 0 10px #7c00ad;
}











@media (max-width: 1440px){
  
}
@media (max-width: 1024px){
  .btn-primary{
    width: 30% !important;
  }
}
@media (max-width: 768px){
  .game-img{
    display: none;
  }
}
@media (max-width: 425px){
  .btn-primary{
    width: 50% !important;

  }
  #home{
    margin-bottom: 30%;
  }
}
@media (max-width: 375px){

}
@media (max-width: 320px){

}



